p,
a {
  background: brown;
  color: orange;
}
html {
  background: green;
}
main {
  background: olive;
  display: flex;
  flex-direction: row;
  flex: auto;
}

body {
  display: flex;
  flex-direction: column;
}
aside, h2 {
  background: purple;
  flex: 1;
}

article {
  flex: 2;
}

.Food {
  height: 300px;
  width: 300px;
}