p,
a {
  background: Grey;
  color: white;
}
html {
  background: gold;
  width: 1200px;
  padding: 20px;
  border: 10px;
  margin: 0 auto;
}
main {
  background: red;
  display: flex;
  flex-direction: row;
  flex: auto;
}

body {
  display: flex;
  flex-direction: column;
}
aside, h2 {
  background: grey;
}

article {
  flex: 1;
  overflow-y: auto;
}